.cover__link {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    z-index: 0;
    text-decoration: none;
    color: #FFFFFF;
    min-height: 740px;
    max-width: 1184px;

}
.cover__link:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 200ms ease-in-out;
  }
  .cover__link:hover:before {
    opacity: 0.8;
  }

  @media screen and (max-width: 1024px) {
    .cover__link {
        min-height: 640px;
}
}

@media screen and (max-width: 768px) {
    .cover__link {
        min-height: 480px;
        
}
}

@media screen and (max-width: 320px) {
    .cover__link {
        min-height: 200px;
    }
}