.places {
    max-width: 984px;
    display: grid;
    margin: 92px auto;

}

@media screen and (max-width: 1279px) {
    .places {
        max-width: 928px;

    }
}

@media screen and (max-width: 1023px) {
    .places {
        max-width: 720px;
        margin: 88px auto 90px;

    }
}

@media screen and (max-width: 767px) {
    .places {
        max-width: 320px;
        margin: 64px auto 0;

    }
}