.header {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    max-height: 52px;
    padding: 28px ;
    margin: 0 auto;
    padding: 28px 48px 0;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
}
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        padding: 28px 24px 0;
}
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        max-height: 42px;
        padding: 16px 16px 0;
    }
}