.footer__link {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
    transition: opacity .2s linear;
    opacity: 1;
}
.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
}