.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    align-self: center;
}


@media screen and (max-width: 767px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        align-self: flex-start;
    }
}