.header__lang-ling {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    margin-left: 18px;
    color:#FFFFFF;
    line-height: 28px;
    transition: opacity .2s linear;
    opacity: 1;
}

.header__lang-ling:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .header__lang-ling {
        font-size: 18px;
        line-height: 20px;
    }
}