.intro {
    max-width: 690px;
    margin: 92px 0;
    padding: 0 0 0 148px;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding: 0 0 0 48px;
}
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        padding: 0 24px;
        margin: 88px 0;
}
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        padding: 0 16px;
        margin: 64px 0;
    }
}

