.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    column-gap: 40px;
    row-gap: 48px;
    margin: 0;
    margin-bottom: 80px;
}

.place:last-of-type {
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        column-gap: 32px;
        row-gap: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        column-gap: 28px;
        row-gap: 48px;
        margin-bottom: 72px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        margin-bottom: 50px;
        row-gap: 32px;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
    }
}